<!DOCTYPE html>
<html>
<head>
    <title>Quiz App</title>
</head>
<body>
    <h1>Quiz</h1>
    <form method="post" action="/submit">
        <h3>Question 1: What software technology is used to build "resouce pools" on the cloud?</h3>
        <input type="radio" name="q1" value="a"> a) virtualization<br>
        <input type="radio" name="q1" value="b"> b) CPU's and Memory<br>
        <input type="radio" name="q1" value="c"> c) The internet<br>
        
        <h3>Question 2: According to the CSA PaaS, SaaS, and IaaS are:</h3>
        <input type="radio" name="q2" value="a"> a) Essential Characteristics<br>
        <input type="radio" name="q2" value="b"> b) Service Models<br>
        <input type="radio" name="q2" value="c"> c) Deployment Models<br>
        
        <h3>Question 3: Public cloud is an example of a:</h3>
        <input type="radio" name="q3" value="a"> a) Essential Charachteristics<br>
        <input type="radio" name="q3" value="b"> b) Service Models<br>
        <input type="radio" name="q3" value="c"> c) Deployement Models<br>

        <h3>Question 4: Rapid Elasticity and Resource Pooling are:</h3>
        <input type="radio" name="q4" value="a"> a) Essential Charachteristics<br>
        <input type="radio" name="q4" value="b"> b) Service Models<br>
        <input type="radio" name="q4" value="c"> c) Deployement Models<br>
        
        <h3>Question 5: Resource pools are permanant for the user:</h3>
        <input type="radio" name="q5" value="a"> a) True<br>
        <input type="radio" name="q5" value="b"> b) False<br>
        <input type="radio" name="q5" value="b"> b) I don't know<br>
        
        <h3>Question 6: A trusted and untrusted cloud deployment would be considered</h3>
        <input type="radio" name="q6" value="a"> a) Public<br>
        <input type="radio" name="q6" value="b"> b) Private<br>
        <input type="radio" name="q6" value="c"> c) Hybrid<br>

        <br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
